

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Cache &mdash; Slick Framework 1.1.0 documentation</title>
  

  
  

  
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Slab:400,700|Inconsolata:400,700' rel='stylesheet' type='text/css'>

  
  
    

  

  
  
    <link rel="stylesheet" href="../_static/css/theme.css" type="text/css" />
  

  
    <link rel="top" title="Slick Framework 1.1.0 documentation" href="../index.html"/>
        <link rel="up" title="Components" href="index.html"/>
        <link rel="next" title="Common library" href="common.html"/>
        <link rel="prev" title="Components" href="index.html"/> 

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav" role="document">

  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-nav-search">
        <a href="../index.html" class="fa fa-home"> Slick Framework</a>
        <div role="search">
  <form id ="rtd-search-form" class="wy-form" action="../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>
      </div>

      <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
        
        
            <ul class="current">
<li class="toctree-l1 current"><a class="reference internal" href="index.html">Components</a><ul class="current">
<li class="toctree-l2 current"><a class="current reference internal" href="">Cache</a></li>
<li class="toctree-l2"><a class="reference internal" href="common.html">Common library</a></li>
<li class="toctree-l2"><a class="reference internal" href="database.html">Database Access</a></li>
<li class="toctree-l2"><a class="reference internal" href="dependency.html">Dependency Injection Container</a></li>
<li class="toctree-l2"><a class="reference internal" href="template.html">Template</a></li>
</ul>
</li>
</ul>

        
      </div>
      &nbsp;
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
        <a href="../index.html">Slick Framework</a>
      </nav>


      
      <div class="wy-nav-content">
        <div class="rst-content">
          <div role="navigation" aria-label="breadcrumbs navigation">
  <ul class="wy-breadcrumbs">
    <li><a href="../index.html">Docs</a> &raquo;</li>
      
          <li><a href="index.html">Components</a> &raquo;</li>
      
    <li>Cache</li>
      <li class="wy-breadcrumbs-aside">
        
          <a href="../_sources/components/cache.txt" rel="nofollow"> View page source</a>
        
      </li>
  </ul>
  <hr/>
</div>
          <div role="main">
            
  <div class="section" id="cache">
<h1><a class="toc-backref" href="#id1">Cache</a><a class="headerlink" href="#cache" title="Permalink to this headline">¶</a></h1>
<p>Slick cache component deals with cache providing services installed on your system.</p>
<p>I comes with support for <em>Memcached</em> (<tt class="docutils literal"><span class="pre">memcached</span></tt> daemon) and <em>File</em> (caching data into files) out of the box,
but it also defines a driver interface that allow you to add your own drivers to your project.</p>
<div class="contents topic" id="table-of-contents">
<p class="topic-title first">Table of Contents</p>
<ul class="simple">
<li><a class="reference internal" href="#cache" id="id1">Cache</a><ul>
<li><a class="reference internal" href="#installing-via-composer" id="id2">Installing via Composer</a></li>
<li><a class="reference internal" href="#using-a-cache-driver" id="id3">Using a cache driver</a></li>
<li><a class="reference internal" href="#initializing-cache-with-slick-configuration" id="id4">Initializing cache with Slick\Configuration</a></li>
<li><a class="reference internal" href="#the-memcached-cache-driver" id="id5">The Memcached cache driver</a></li>
<li><a class="reference internal" href="#the-file-cache-driver" id="id6">The File cache driver</a></li>
</ul>
</li>
</ul>
</div>
<div class="section" id="installing-via-composer">
<h2><a class="toc-backref" href="#id2">Installing via Composer</a><a class="headerlink" href="#installing-via-composer" title="Permalink to this headline">¶</a></h2>
<p>The recommended way to install Slick cache component is through <a class="reference external" href="https://getcomposer.org/">Composer</a>.</p>
<div class="highlight-bash"><div class="highlight"><pre><span class="c"># Install Composer</span>
curl -sS https://getcomposer.org/installer | php
</pre></div>
</div>
<p>You can add Slick cache as a dependency using the composer.phar CLI:</p>
<div class="highlight-bash"><div class="highlight"><pre>php composer.phar require slick/cache
</pre></div>
</div>
<p>Alternatively, you can specify Slick cache as a dependency in your project&#8217;s
existing composer.json file:</p>
<div class="highlight-js"><div class="highlight"><pre> <span class="p">{</span>
   <span class="s2">&quot;require&quot;</span><span class="o">:</span> <span class="p">{</span>
      <span class="s2">&quot;slick/cache&quot;</span><span class="o">:</span> <span class="s2">&quot;*&quot;</span>
   <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
</div>
<div class="section" id="using-a-cache-driver">
<h2><a class="toc-backref" href="#id3">Using a cache driver</a><a class="headerlink" href="#using-a-cache-driver" title="Permalink to this headline">¶</a></h2>
<p>To use a cache driver you simple need to call the <tt class="docutils literal"><span class="pre">Cache::get()</span></tt> static method
to get an initialized cache driver. Check the following example:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Slick\Cache\Cache</span><span class="p">;</span>

<span class="nv">$cache</span> <span class="o">=</span> <span class="nx">Cache</span><span class="o">::</span><span class="na">get</span><span class="p">();</span>
<span class="nv">$data</span> <span class="o">=</span> <span class="nv">$cache</span><span class="o">-&gt;</span><span class="na">get</span><span class="p">(</span><span class="s1">&#39;data&#39;</span><span class="p">,</span> <span class="k">false</span><span class="p">);</span>

<span class="k">if</span> <span class="p">(</span><span class="o">!</span><span class="nv">$data</span><span class="p">)</span> <span class="p">{</span>
    <span class="nv">$data</span> <span class="o">=</span> <span class="nb">file_get_contents</span><span class="p">(</span><span class="s2">&quot;http://www.example.com/api/call.json&quot;</span><span class="p">);</span>
    <span class="nv">$cache</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="s1">&#39;data&#39;</span><span class="p">,</span> <span class="nv">$data</span><span class="p">);</span>
<span class="p">}</span>
</pre></div>
</div>
<p>In this example we are using the default cache driver with default options, to store
some expensive API call data.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<dl class="last docutils">
<dt>The default driver is Memcached with the following default options:</dt>
<dd><ul class="first last simple">
<li><tt class="docutils literal"><span class="pre">duration</span></tt>: 120</li>
<li><tt class="docutils literal"><span class="pre">host</span></tt>: &#8216;127.0.0.1&#8217;</li>
<li><tt class="docutils literal"><span class="pre">port</span></tt>: 11211</li>
</ul>
</dd>
</dl>
</div>
<div class="section" id="changing-cache-expire-time">
<h3>Changing cache expire time<a class="headerlink" href="#changing-cache-expire-time" title="Permalink to this headline">¶</a></h3>
<p>The expire amount of time is always set when you set a value on the cache driver.
As mention above, the default is set to 120 seconds. Using the above example, we will
set the time expire amount to 3 minutes for the data from our fictitious API call:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Slick\Cache\Cache</span><span class="p">;</span>

<span class="nv">$cache</span> <span class="o">=</span> <span class="nx">Cache</span><span class="o">::</span><span class="na">get</span><span class="p">();</span>
<span class="nv">$data</span> <span class="o">=</span> <span class="nv">$cache</span><span class="o">-&gt;</span><span class="na">get</span><span class="p">(</span><span class="s1">&#39;data&#39;</span><span class="p">,</span> <span class="k">false</span><span class="p">);</span>
<span class="k">if</span> <span class="p">(</span><span class="o">!</span><span class="nv">$data</span><span class="p">)</span> <span class="p">{</span>
    <span class="nv">$data</span> <span class="o">=</span> <span class="nb">file_get_contents</span><span class="p">(</span><span class="s2">&quot;http://www.example.com/api/call.json&quot;</span><span class="p">);</span>
    <span class="c1">// Set expire to 3 minutes</span>
    <span class="nv">$cache</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="s1">&#39;data&#39;</span><span class="p">,</span> <span class="nv">$data</span><span class="p">,</span> <span class="mi">3</span><span class="o">*</span><span class="mi">60</span><span class="p">);</span>
<span class="p">}</span>
</pre></div>
</div>
<p>It is also possible to define a global expire amount of time for all <tt class="docutils literal"><span class="pre">Cache::set()</span></tt>
like this:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Slick\Cache\Cache</span><span class="p">;</span>

<span class="nv">$cache</span> <span class="o">=</span> <span class="nx">Cache</span><span class="o">::</span><span class="na">get</span><span class="p">();</span>
<span class="c1">// Set global cache expire to 10 minutes</span>
<span class="nv">$cache</span><span class="o">-&gt;</span><span class="na">duration</span> <span class="o">=</span> <span class="mi">10</span><span class="o">*</span><span class="mi">60</span><span class="p">;</span>

<span class="nv">$data</span> <span class="o">=</span> <span class="nv">$cache</span><span class="o">-&gt;</span><span class="na">get</span><span class="p">(</span><span class="s1">&#39;data&#39;</span><span class="p">,</span> <span class="k">false</span><span class="p">);</span>
<span class="k">if</span> <span class="p">(</span><span class="o">!</span><span class="nv">$data</span><span class="p">)</span> <span class="p">{</span>
    <span class="nv">$data</span> <span class="o">=</span> <span class="nb">file_get_contents</span><span class="p">(</span><span class="s2">&quot;http://www.example.com/api/call.json&quot;</span><span class="p">);</span>
    <span class="c1">// This will use the 10 minutes setting from above</span>
    <span class="nv">$cache</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="s1">&#39;data&#39;</span><span class="p">,</span> <span class="nv">$data</span><span class="p">);</span>
<span class="p">}</span>
</pre></div>
</div>
</div>
<div class="section" id="driverinterface-set">
<h3>DriverInterface::set<a class="headerlink" href="#driverinterface-set" title="Permalink to this headline">¶</a></h3>
<p>Stores an item</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">public</span> <span class="nx">DriverInterface</span> <span class="nx">DriverInterface</span><span class="o">::</span><span class="na">set</span><span class="p">(</span><span class="nx">string</span> <span class="nv">$key</span><span class="p">,</span> <span class="nx">mixed</span> <span class="nv">$value</span> <span class="p">[,</span> <span class="nx">int</span> <span class="nv">$expire</span> <span class="o">=</span> <span class="o">-</span><span class="mi">1</span><span class="p">])</span>
</pre></div>
</div>
<dl class="docutils">
<dt><em>Description</em></dt>
<dd>Set/stores a value with a given key. If no value is set in the expire parameter the
default <tt class="docutils literal"><span class="pre">Cache::duration</span></tt> will be used.</dd>
<dt><em>Parameters</em></dt>
<dd><ul class="first last simple">
<li>key: The key where value will be stored</li>
<li>value: The value to store</li>
<li>expire: The live time of cache in seconds</li>
</ul>
</dd>
<dt><em>Return</em></dt>
<dd>A <tt class="docutils literal"><span class="pre">DriverInterface</span></tt> instance for chaining method calls.</dd>
</dl>
</div>
<div class="section" id="driverinterface-get">
<h3>DriverInterface::get<a class="headerlink" href="#driverinterface-get" title="Permalink to this headline">¶</a></h3>
<p>Retrieves a previously stored value</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">public</span> <span class="nx">mixed</span> <span class="nx">DriverInterface</span><span class="o">::</span><span class="na">get</span><span class="p">(</span><span class="nx">string</span> <span class="nv">$key</span> <span class="p">[,</span> <span class="nx">mixed</span> <span class="nv">$default</span> <span class="o">=</span> <span class="k">false</span><span class="p">])</span>
</pre></div>
</div>
<dl class="docutils">
<dt><em>Description</em></dt>
<dd>Retrieves a previously stored value. You can optionally set the value returned
in case of cache driver has no value for provided key.</dd>
<dt><em>Parameters</em></dt>
<dd><ul class="first last simple">
<li>key: The key where value will be stored</li>
<li>default: The value returned if cache driver has no value for provided key</li>
</ul>
</dd>
<dt><em>Return</em></dt>
<dd>The stored value or the default value if cache driver has no value for provided key</dd>
</dl>
</div>
<div class="section" id="driverinterface-erase">
<h3>DriverInterface::erase<a class="headerlink" href="#driverinterface-erase" title="Permalink to this headline">¶</a></h3>
<p>Erase the value stored with a given key</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">public</span> <span class="nx">DriverInterface</span> <span class="nx">DriverInterface</span><span class="o">::</span><span class="na">erase</span><span class="p">(</span><span class="nx">string</span> <span class="nv">$key</span><span class="p">)</span>
</pre></div>
</div>
<dl class="docutils">
<dt><em>Description</em></dt>
<dd>Erase the value stored with a given key.
You can use the &#8221;?&#8221; and &#8220;*&#8221; wildcards to delete all matching keys.
The &#8221;?&#8221; means a place holders for one unknown character, the &#8220;*&#8221; is
a place holder for various characters.</dd>
<dt><em>Parameters</em></dt>
<dd><ul class="first last simple">
<li>key: The key where value was stored</li>
</ul>
</dd>
<dt><em>Return</em></dt>
<dd>A <tt class="docutils literal"><span class="pre">DriverInterface</span></tt> instance for chaining method calls.</dd>
</dl>
<div class="admonition warning">
<p class="first admonition-title">Warning</p>
<p class="last">The use of &#8221;?&#8221; and &#8220;*&#8221; placeholder is only implemented in the drivers that are
provided by Slick cache component. If you create your own cache driver you need
to handle the placeholders key search implementation.</p>
</div>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p class="last">If you are implementing your own cache driver and want to have the &#8221;?&#8221; and &#8220;*&#8221;
placeholders search you can extend <tt class="docutils literal"><span class="pre">Slick\Cache\Driver\AbstractDriver</span></tt> witch
uses the <tt class="docutils literal"><span class="pre">DriverInterface::get()</span></tt> and <tt class="docutils literal"><span class="pre">DriverInterface::set()</span></tt> methods to
achieve the wildcards key search feature.</p>
</div>
</div>
</div>
<div class="section" id="initializing-cache-with-slick-configuration">
<h2><a class="toc-backref" href="#id4">Initializing cache with Slick\Configuration</a><a class="headerlink" href="#initializing-cache-with-slick-configuration" title="Permalink to this headline">¶</a></h2>
<p>Probably you are using Slick components in your application and therefor you must
probably have the Slick\Configuration component.</p>
<p>It is normal to have a settings file for your application and use its values to
initialize resources such as Slick\Cache component.</p>
<p>So lets start by creating our <tt class="docutils literal"><span class="pre">settings.php</span></tt> file:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">return</span> <span class="p">[</span>
    <span class="s1">&#39;driver&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;memcached&#39;</span><span class="p">,</span>
    <span class="s1">&#39;options&#39;</span> <span class="o">=&gt;</span> <span class="p">[</span>
        <span class="s1">&#39;host&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;127.0.0.1&#39;</span><span class="p">,</span>
        <span class="s1">&#39;port&#39;</span> <span class="o">=&gt;</span> <span class="mi">11211</span><span class="p">,</span>
        <span class="s1">&#39;prefix&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;my.app&#39;</span>
    <span class="p">]</span>
 <span class="p">];</span>
</pre></div>
</div>
<p>Now that we have set the settings lets use them:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Slick\Cache\Cache</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Slick\Configuration\Configuration</span><span class="p">;</span>

<span class="c1">// Retrieve the settings</span>
<span class="nx">Configurations</span><span class="o">::</span><span class="na">addPath</span><span class="p">(</span><span class="nb">dirname</span><span class="p">(</span><span class="k">__FILE__</span><span class="p">));</span>
<span class="nv">$settings</span> <span class="o">=</span> <span class="nx">Configuration</span><span class="o">::</span><span class="na">get</span><span class="p">(</span><span class="s1">&#39;settings&#39;</span><span class="p">);</span>

<span class="nv">$cache</span> <span class="o">=</span> <span class="nx">Cache</span><span class="o">::</span><span class="na">get</span><span class="p">(</span>
    <span class="nv">$settings</span><span class="o">-&gt;</span><span class="na">get</span><span class="p">(</span><span class="s1">&#39;driver&#39;</span><span class="p">),</span>
    <span class="nv">$settings</span><span class="o">-&gt;</span><span class="na">get</span><span class="p">(</span><span class="s1">&#39;options&#39;</span><span class="p">)</span>
<span class="p">);</span>

<span class="c1">// Use your cache driver</span>
<span class="nv">$cache</span><span class="o">-&gt;</span><span class="na">get</span><span class="p">(</span><span class="s1">&#39;someKey&#39;</span><span class="p">,</span> <span class="k">false</span><span class="p">);</span>
</pre></div>
</div>
</div>
<div class="section" id="the-memcached-cache-driver">
<h2><a class="toc-backref" href="#id5">The Memcached cache driver</a><a class="headerlink" href="#the-memcached-cache-driver" title="Permalink to this headline">¶</a></h2>
<p>The Memcached cache driver uses the <a class="reference external" href="http://www.memcached.org/">memcached</a>, an
high-performance, distributed memory object caching system.</p>
<p>Memcached is an in-memory key-value store for small chunks of arbitrary data (strings,
objects) from results of database calls, API calls, or page rendering.</p>
<div class="admonition warning">
<p class="first admonition-title">Warning</p>
<p>You must have the Memcached PECL extension installed on your system to be able to use the
Memcached cached diver provided by Slick cache component.</p>
<p class="last">If you need help on have your system installed with Memcached extension please visit the
<a class="reference external" href="http://www.php.net/manual/en/memcached.installation.php">PHP Memcached manual page</a> for
more information.</p>
</div>
<p>To use this driver, as we already saw before, you need to call the Cache::get() static method
and pass the driver name and options.</p>
<p>The following example illustrates a possible way of doing it:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Slick\Cache\Cache</span><span class="p">;</span>

<span class="nv">$cache</span> <span class="o">=</span> <span class="nx">Cache</span><span class="o">::</span><span class="na">get</span><span class="p">(</span><span class="s1">&#39;memcached&#39;</span><span class="p">,</span> <span class="p">[</span>
    <span class="s1">&#39;host&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;0.0.0.0&#39;</span><span class="p">,</span>
    <span class="s1">&#39;port&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;11211&#39;</span><span class="p">,</span>
    <span class="s1">&#39;duration&#39;</span> <span class="o">=&gt;</span> <span class="mi">300</span><span class="p">,</span> <span class="c1">// 5 minutes</span>
    <span class="s1">&#39;prefix&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;my.cache&#39;</span>
<span class="p">]);</span>
</pre></div>
</div>
<p>Here we pass the host and port of the memcached daemon for PHP Memcached to connect.</p>
<p>If you were paying attention to the last code block you will notice that we add the
<tt class="docutils literal"><span class="pre">duration</span></tt> param to the diver initialization. It is possible to do that on all
cache drivers.</p>
</div>
<div class="section" id="the-file-cache-driver">
<h2><a class="toc-backref" href="#id6">The File cache driver</a><a class="headerlink" href="#the-file-cache-driver" title="Permalink to this headline">¶</a></h2>
<p>The File cache driver uses the file system to store the cached values. So for every
data key that you want to store in cache the driver will create a file with it.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p>Storing cache data into files is not the best way of doing cache and therefor you
should consider using a better driver like Memcached.</p>
<p class="last">This driver was created for those situations where you don&#8217;t have access to your
and still want to cache <em>expensive</em> resources.</p>
</div>
<p>Lets look at the following example:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Slick\Cache\Cache</span><span class="p">;</span>

<span class="nv">$cache</span> <span class="o">=</span> <span class="nx">Cache</span><span class="o">::</span><span class="na">get</span><span class="p">(</span><span class="s1">&#39;file&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s1">&#39;path&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;./tmp/&#39;</span><span class="p">,</span> <span class="s1">&#39;prefix&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;my.cache&#39;</span><span class="p">]);</span>
<span class="nv">$data</span> <span class="o">=</span> <span class="nv">$cache</span><span class="o">-&gt;</span><span class="na">get</span><span class="p">(</span><span class="s1">&#39;data&#39;</span><span class="p">,</span> <span class="k">false</span><span class="p">);</span>
<span class="k">if</span> <span class="p">(</span><span class="o">!</span><span class="nv">$data</span><span class="p">)</span> <span class="p">{</span>
    <span class="nv">$data</span> <span class="o">=</span> <span class="nb">file_get_contents</span><span class="p">(</span><span class="s2">&quot;http://www.example.com/api/call.json&quot;</span><span class="p">);</span>
    <span class="nv">$cache</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="s1">&#39;data&#39;</span><span class="p">,</span> <span class="nv">$data</span><span class="p">);</span>
<span class="p">}</span>
</pre></div>
</div>
<p>In this case we are setting a different path where we want to save our cache files.</p>
</div>
</div>


          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="common.html" class="btn btn-neutral float-right" title="Common library"/>Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="index.html" class="btn btn-neutral" title="Components"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2014-2015, Slick Framework.
    </p>
  </div>

  <a href="https://github.com/snide/sphinx_rtd_theme">Sphinx theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>
</footer>
        </div>
      </div>

    </section>

  </div>
  


  

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'../',
            VERSION:'1.1.0',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'.html',
            HAS_SOURCE:  true
        };
    </script>
      <script type="text/javascript" src="../_static/jquery.js"></script>
      <script type="text/javascript" src="../_static/underscore.js"></script>
      <script type="text/javascript" src="../_static/doctools.js"></script>

  

  
  
    <script type="text/javascript" src="../_static/js/theme.js"></script>
  

  
  
  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.StickyNav.enable();
      });
  </script>
   

</body>
</html>