

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Common &mdash; Slick Framework 1.0.0 documentation</title>
  

  
  

  
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Slab:400,700|Inconsolata:400,700' rel='stylesheet' type='text/css'>

  
  
    

  

  
  
    <link rel="stylesheet" href="../_static/css/theme.css" type="text/css" />
  

  
    <link rel="top" title="Slick Framework 1.0.0 documentation" href="../index.html"/>
        <link rel="up" title="Components" href="index.html"/>
        <link rel="next" title="Other usages" href="common/singleton.html"/>
        <link rel="prev" title="Cache" href="cache.html"/> 

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav" role="document">

  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-nav-search">
        <a href="../index.html" class="fa fa-home"> Slick Framework</a>
        <div role="search">
  <form id ="rtd-search-form" class="wy-form" action="../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>
      </div>

      <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
        
        
            <ul class="current">
<li class="toctree-l1 current"><a class="reference internal" href="index.html">Components</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="cache.html">Cache</a></li>
<li class="toctree-l2 current"><a class="current reference internal" href="">Common</a></li>
<li class="toctree-l2"><a class="reference internal" href="database.html">Database Access</a></li>
<li class="toctree-l2"><a class="reference internal" href="dependency.html">Dependency Injection Container</a></li>
<li class="toctree-l2"><a class="reference internal" href="template.html">Template</a></li>
</ul>
</li>
</ul>

        
      </div>
      &nbsp;
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
        <a href="../index.html">Slick Framework</a>
      </nav>


      
      <div class="wy-nav-content">
        <div class="rst-content">
          <div role="navigation" aria-label="breadcrumbs navigation">
  <ul class="wy-breadcrumbs">
    <li><a href="../index.html">Docs</a> &raquo;</li>
      
          <li><a href="index.html">Components</a> &raquo;</li>
      
    <li>Common</li>
      <li class="wy-breadcrumbs-aside">
        
          <a href="../_sources/components/common.txt" rel="nofollow"> View page source</a>
        
      </li>
  </ul>
  <hr/>
</div>
          <div role="main">
            
  <div class="section" id="common">
<h1><a class="toc-backref" href="#id2">Common</a><a class="headerlink" href="#common" title="Permalink to this headline">¶</a></h1>
<p>Slick common component library is a set of useful classes and traits that are in almost every class
in the entire Slick framework. They form a solid base to develop on top of and help
you remove the tedious work of create getters, setters, allow read and/or write access
to the properties and inspect classes and properties.</p>
<div class="contents topic" id="table-of-contents">
<p class="topic-title first">Table of Contents</p>
<ul class="simple">
<li><a class="reference internal" href="#common" id="id2">Common</a><ul>
<li><a class="reference internal" href="#installing-via-composer" id="id3">Installing via Composer</a></li>
<li><a class="reference internal" href="#understanding-the-base-class" id="id4">Understanding the &#8220;Base&#8221; class</a><ul>
<li><a class="reference internal" href="#defining-class-properties" id="id5">Defining class properties</a></li>
<li><a class="reference internal" href="#getters-and-setters" id="id6">Getters and Setters</a></li>
<li><a class="reference internal" href="#the-setter-getter-is-always-in-the-way" id="id7">The setter/getter is always in the way</a></li>
<li><a class="reference internal" href="#easy-construction" id="id8">Easy construction</a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="common/singleton.html">Other usages</a><ul>
<li class="toctree-l2"><a class="reference internal" href="common/singleton.html#creating-singletons">Creating Singletons</a></li>
<li class="toctree-l2"><a class="reference internal" href="common/singleton.html#using-base-behavior-in-other-classes">Using &#8220;Base&#8221; behavior in other classes</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="common/inspector.html">Class inspector</a><ul>
<li class="toctree-l2"><a class="reference internal" href="common/inspector.html#inspect-and-annotations">Inspect and Annotations</a></li>
</ul>
</li>
</ul>
</div>
<div class="section" id="installing-via-composer">
<h2><a class="toc-backref" href="#id3">Installing via Composer</a><a class="headerlink" href="#installing-via-composer" title="Permalink to this headline">¶</a></h2>
<p>The recommended way to install Slick cache component is through <a class="reference external" href="https://getcomposer.org/">Composer</a>.</p>
<div class="highlight-bash"><div class="highlight"><pre><span class="c"># Install Composer</span>
curl -sS https://getcomposer.org/installer | php
</pre></div>
</div>
<p>You can add Slick cache as a dependency using the composer.phar CLI:</p>
<div class="highlight-bash"><div class="highlight"><pre>php composer.phar require slick/cache
</pre></div>
</div>
<p>Alternatively, you can specify Slick cache as a dependency in your project&#8217;s
existing composer.json file:</p>
<div class="highlight-js"><div class="highlight"><pre> <span class="p">{</span>
   <span class="s2">&quot;require&quot;</span><span class="o">:</span> <span class="p">{</span>
      <span class="s2">&quot;slick/common&quot;</span><span class="o">:</span> <span class="s2">&quot;*&quot;</span>
   <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
</div>
<div class="section" id="understanding-the-base-class">
<h2><a class="toc-backref" href="#id4">Understanding the &#8220;Base&#8221; class</a><a class="headerlink" href="#understanding-the-base-class" title="Permalink to this headline">¶</a></h2>
<p>The <tt class="docutils literal"><span class="pre">Slick\Common\Base</span></tt> class is one of the most important classes of Slick. It is
responsible for the &#8220;magic&#8221; in classes that extends it. It is very important that you
have a clear understanding of what this class does to really speed up your development.</p>
<div class="section" id="defining-class-properties">
<h3><a class="toc-backref" href="#id5">Defining class properties</a><a class="headerlink" href="#defining-class-properties" title="Permalink to this headline">¶</a></h3>
<p>When defining properties in classes that extend <tt class="docutils literal"><span class="pre">Slick\Common\Base</span></tt> you have to follow
a simple convention:</p>
<blockquote>
<div><ul class="simple">
<li>properties must be prefixed with an &#8220;_&#8221; (underscore);</li>
<li>property visibility is defined as <tt class="docutils literal"><span class="pre">protected</span></tt>;</li>
<li>property names are camel cased;</li>
<li>use one of <tt class="docutils literal"><span class="pre">&#64;read</span></tt>, <tt class="docutils literal"><span class="pre">&#64;write</span></tt> or <tt class="docutils literal"><span class="pre">&#64;readwrite</span></tt> annotations to define the public
access mode to those properties.</li>
</ul>
</div></blockquote>
<p>Lets see an example:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Slick\Common\Base</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">MyClass</span> <span class="k">extends</span> <span class="nx">Base</span>
<span class="p">{</span>
    <span class="sd">/**</span>
<span class="sd">     * @readwrite</span>
<span class="sd">     * @var string</span>
<span class="sd">     */</span>
    <span class="k">protected</span> <span class="nv">$_name</span><span class="p">;</span>

    <span class="c1">// More code follows</span>
<span class="p">}</span>

<span class="nv">$myClass</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">MyClass</span><span class="p">();</span>
<span class="nv">$myClass</span><span class="o">-&gt;</span><span class="na">name</span> <span class="o">=</span> <span class="s2">&quot;Foo&quot;</span><span class="p">;</span>
<span class="k">echo</span> <span class="nv">$myClass</span><span class="o">-&gt;</span><span class="na">name</span><span class="p">;</span>        <span class="c1">// This will print out &quot;Foo&quot;</span>
</pre></div>
</div>
<p>As you can see in this example, defining property <tt class="docutils literal"><span class="pre">MyClass::$_name</span></tt> is in fact very
simple. The <tt class="docutils literal"><span class="pre">&#64;readwrite</span></tt> annotation grants read and write access to it and it is a
protected property. Did you notice the way we access the <tt class="docutils literal"><span class="pre">MyClass::$_name</span></tt>? Yes, we
access it as it was a <tt class="docutils literal"><span class="pre">public</span></tt> property! This is the first feature of
<tt class="docutils literal"><span class="pre">Slick\Common\Base</span></tt>: to expose this properties in a <tt class="docutils literal"><span class="pre">public</span></tt> fashion using the PHP
<tt class="docutils literal"><span class="pre">__get()</span></tt> and <tt class="docutils literal"><span class="pre">__set()</span></tt> magic methods.</p>
<div class="admonition important">
<p class="first admonition-title">Important</p>
<p class="last">The property visibility is set to <tt class="docutils literal"><span class="pre">protected</span></tt> so that the methods from
<tt class="docutils literal"><span class="pre">Slick\Common\Base</span></tt> can have access to it and it cannot be accessed publicly
from other objects.</p>
</div>
<table border="1" class="docutils">
<colgroup>
<col width="20%" />
<col width="80%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head" colspan="2">The annotations used are defined as follows</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td><tt class="docutils literal"><span class="pre">&#64;read</span></tt></td>
<td>The property can be accessed as a read only.</td>
</tr>
<tr class="row-odd"><td><tt class="docutils literal"><span class="pre">&#64;write</span></tt></td>
<td>A value can be assigned to the property.</td>
</tr>
<tr class="row-even"><td><tt class="docutils literal"><span class="pre">&#64;readwrite</span></tt></td>
<td>The property can be read or changed as a <tt class="docutils literal"><span class="pre">public</span></tt> property.</td>
</tr>
</tbody>
</table>
<div class="admonition attention">
<p class="first admonition-title">Attention</p>
<p>Any attempt to assign a value to a <tt class="docutils literal"><span class="pre">&#64;read</span></tt> only property will raise a
<tt class="docutils literal"><span class="pre">Slick\Common\Exception\ReadOnlyException</span></tt> exception. This is also the behavior
if no annotation is provided.</p>
<p>Any attempt to read a value from a <tt class="docutils literal"><span class="pre">&#64;write</span></tt> only property will
raise a <tt class="docutils literal"><span class="pre">Slick\Common\Exception\WriteOnlyException</span></tt> exception.</p>
<p class="last">Any attempt to assign or read an undefined property on classes that extends
<tt class="docutils literal"><span class="pre">Slick\Common\Base</span></tt> will raise a <tt class="docutils literal"><span class="pre">Slick\Common\Exception\UndefinedPropertyException</span></tt>
exception. This is a great way to avoid dynamic change of objects.</p>
</div>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p>As a way of improve IDE development, it is useful to add the public properties to
the class DocBlock. This will help IDEs to &#8220;see&#8221; the properties as if they were
defined as <tt class="docutils literal"><span class="pre">public</span></tt>. The code bellow shows how to achieve this result:</p>
<div class="last highlight-php"><div class="highlight"><pre><span class="sd">/**</span>
<span class="sd"> * Class Foo</span>
<span class="sd"> *</span>
<span class="sd"> * @property       string $foo Read/Write property</span>
<span class="sd"> * @property-read  int    $bar Read only property</span>
<span class="sd"> * @property-write mixed  $baz Write only property</span>
<span class="sd"> */</span>
<span class="k">Class</span> <span class="nc">Foo</span> <span class="k">extends</span> <span class="nx">Base</span> <span class="p">{</span>
<span class="c1">// The class definition</span>
</pre></div>
</div>
</div>
</div>
<div class="section" id="getters-and-setters">
<h3><a class="toc-backref" href="#id6">Getters and Setters</a><a class="headerlink" href="#getters-and-setters" title="Permalink to this headline">¶</a></h3>
<p><tt class="docutils literal"><span class="pre">Slick\Common\Base</span></tt> class also has a public getter and setter for the properties
defined as we have seen above. Consider the following example:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Slick\Common\Base</span><span class="p">;</span>
<span class="k">class</span> <span class="nc">MyClass</span> <span class="k">extends</span> <span class="nx">Base</span>
<span class="p">{</span>
    <span class="sd">/**</span>
<span class="sd">     * @readwrite</span>
<span class="sd">     * @var string</span>
<span class="sd">     */</span>
    <span class="k">protected</span> <span class="nv">$_name</span><span class="p">;</span>

    <span class="c1">// Rest of the class code</span>
<span class="p">}</span>

<span class="nv">$myClass</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">MyClass</span><span class="p">();</span>
<span class="nv">$myClass</span><span class="o">-&gt;</span><span class="na">setName</span><span class="p">(</span><span class="s2">&quot;Foo&quot;</span><span class="p">);</span>
<span class="k">echo</span> <span class="nv">$myClass</span><span class="o">-&gt;</span><span class="na">getName</span><span class="p">();</span>      <span class="c1">// This will print out &quot;Foo&quot;</span>
</pre></div>
</div>
<p>If you follow the convention you will have getters and setters for all defined
properties. This is another cool feature of <tt class="docutils literal"><span class="pre">Slick\Common\Base</span></tt> class: Expose
getters and setters to all the properties using PHP <tt class="docutils literal"><span class="pre">__call()</span></tt> magic method.</p>
<p>It is possible to chain calls with setters as they will always return the object
they are called in. For example:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$myClass</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">MyClass</span><span class="p">();</span>
<span class="nv">$myClass</span><span class="o">-&gt;</span><span class="na">setName</span><span class="p">(</span><span class="s2">&quot;Bar&quot;</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">getName</span><span class="p">();</span>            <span class="c1">// This will return &quot;Bar&quot;</span>
</pre></div>
</div>
<p>In this code example the getter method was chained in the return of the setter as it
will return the <tt class="docutils literal"><span class="pre">$myClass</span></tt> instance.</p>
</div>
<div class="section" id="the-setter-getter-is-always-in-the-way">
<h3><a class="toc-backref" href="#id7">The setter/getter is always in the way</a><a class="headerlink" href="#the-setter-getter-is-always-in-the-way" title="Permalink to this headline">¶</a></h3>
<p>Another benefit of extending the Base class it that you can define the way a given
property gets its value even when you assign the value as a <tt class="docutils literal"><span class="pre">public</span></tt> property.</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Slick\Common\Base</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">MyClass</span> <span class="k">extends</span> <span class="nx">Base</span>
<span class="p">{</span>
    <span class="sd">/**</span>
<span class="sd">     * @readwrite</span>
<span class="sd">     * @var string</span>
<span class="sd">     */</span>
    <span class="k">protected</span> <span class="nv">$_name</span><span class="p">;</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">setName</span><span class="p">(</span><span class="nv">$name</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">_name</span> <span class="o">=</span> <span class="nx">strtoupper</span><span class="p">(</span><span class="nv">$name</span><span class="p">);</span>
        <span class="k">return</span> <span class="nv">$this</span><span class="p">;</span>
    <span class="p">}</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">getName</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="k">if</span> <span class="p">(</span><span class="nb">is_null</span><span class="p">(</span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">_name</span><span class="p">))</span> <span class="p">{</span>
            <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">_name</span> <span class="o">=</span> <span class="s2">&quot;No Name&quot;</span><span class="p">;</span>
        <span class="p">}</span>
        <span class="k">return</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">_name</span><span class="p">;</span>
    <span class="p">}</span>
<span class="p">}</span>

<span class="nv">$myClass</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">MyClass</span><span class="p">();</span>
<span class="nv">$myClass</span><span class="o">-&gt;</span><span class="na">name</span> <span class="o">=</span> <span class="s2">&quot;Foo Bar&quot;</span><span class="p">;</span>
<span class="k">echo</span> <span class="nv">$myClass</span><span class="o">-&gt;</span><span class="na">getName</span><span class="p">();</span>   <span class="c1">// This will print out FOO BAR</span>
</pre></div>
</div>
<p>In the code above we define the <tt class="docutils literal"><span class="pre">MyClass::setName()</span></tt> method, overriding the
behavior that <tt class="docutils literal"><span class="pre">Slick\Common\Base</span></tt> class implements and, as you can see, by assign
a value to the <tt class="docutils literal"><span class="pre">MyClass::$name</span></tt> property, the <tt class="docutils literal"><span class="pre">MyClass::setName()</span></tt> method is
executed. In the same way, the <tt class="docutils literal"><span class="pre">MyClass::getName()</span></tt> is executed
when you retrieve the property value. This is in fact a good way of doing &#8220;lazy
load&#8221; of expensive properties and ensure that even if you call the property the
method and behavior are always the same.</p>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p>This feature allows us to force properties to be of a certain type if you
define the setter and use the <a class="reference external" href="http://php.net/manual/en/language.oop5.typehinting.php">PHP type hinting</a> feature.</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Slick\Common\Base</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">MyClass</span> <span class="k">extends</span> <span class="nx">Base</span>
<span class="p">{</span>
    <span class="sd">/**</span>
<span class="sd">     * @readwrite</span>
<span class="sd">     * @var \DateTime</span>
<span class="sd">     */</span>
    <span class="k">protected</span> <span class="nv">$_date</span><span class="p">;</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">setDate</span><span class="p">(</span><span class="nx">\DateTime</span> <span class="nv">$date</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">_date</span> <span class="o">=</span> <span class="nv">$date</span><span class="p">;</span>
        <span class="k">return</span> <span class="nv">$this</span><span class="p">;</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p class="last">When you try to assign a value to <tt class="docutils literal"><span class="pre">MyClass::$date</span></tt> property, the correspondent
setter is called and the value is used to pass as argument to the setter. If
it isn&#8217;t from the specified type, a catchable fatal error is triggered.</p>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">In the above example we add the <tt class="docutils literal"><span class="pre">return</span> <span class="pre">$this;</span></tt> line to maintain the same
behavior of the setters as it is defined by <tt class="docutils literal"><span class="pre">Slick\Common\Base</span></tt> class.
If you don&#8217;t put that line as the setter return you will no longer be able
to chain other method calls.</p>
</div>
</div>
<div class="section" id="easy-construction">
<h3><a class="toc-backref" href="#id8">Easy construction</a><a class="headerlink" href="#easy-construction" title="Permalink to this headline">¶</a></h3>
<p>When creating an object you will probably need to set some properties before you
use that object. The way of doing this is by adding the needed parameters to the
constructor or by calling the setters you need to properly set the state of your
object before using it.</p>
<p>But adding parameters to the constructor leads to a question of what parameters
to use, in what order and will they have a default value? You will end up with a big,
ugly constructor signature. Calling the the setters is more elegant but still is
not as clean as it can be. The <tt class="docutils literal"><span class="pre">Slick\Common\Base</span></tt> class has a constructor that
accepts an array or an object as the values for its properties. Lets see the
following code:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Slick\Common\Base</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">MyClass</span> <span class="k">extends</span> <span class="nx">Base</span>
<span class="p">{</span>
    <span class="sd">/**</span>
<span class="sd">     * @readwrite</span>
<span class="sd">     * @var string</span>
<span class="sd">     */</span>
    <span class="k">protected</span> <span class="nv">$_name</span><span class="p">;</span>

    <span class="o">...</span>
<span class="p">}</span>

<span class="nv">$myClass</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">MyClass</span><span class="p">([</span><span class="s1">&#39;name&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;Foo&#39;</span><span class="p">]);</span>
<span class="k">echo</span> <span class="nv">$myClass</span><span class="o">-&gt;</span><span class="na">getName</span><span class="p">();</span>      <span class="c1">// This will print out &quot;Foo&quot;</span>
</pre></div>
</div>
<p>As you can see, passing an array of associative key/value pairs where keys are the
property names you want to set when creating the object is a more elegant and
flexible way of setting the object state before using it.</p>
<div class="admonition warning">
<p class="first admonition-title">Warning</p>
<p class="last">If in your class you need to define a constructor always remember that you will
need to call <tt class="docutils literal"><span class="pre">parent::__construct()</span></tt> otherwise it will raise an exception
if you do not do so.</p>
</div>
</div>
</div>
</div>


          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="common/singleton.html" class="btn btn-neutral float-right" title="Other usages"/>Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="cache.html" class="btn btn-neutral" title="Cache"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2014, Slick Framework.
    </p>
  </div>

  <a href="https://github.com/snide/sphinx_rtd_theme">Sphinx theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>
</footer>
        </div>
      </div>

    </section>

  </div>
  


  

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'../',
            VERSION:'1.0.0',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'.html',
            HAS_SOURCE:  true
        };
    </script>
      <script type="text/javascript" src="../_static/jquery.js"></script>
      <script type="text/javascript" src="../_static/underscore.js"></script>
      <script type="text/javascript" src="../_static/doctools.js"></script>

  

  
  
    <script type="text/javascript" src="../_static/js/theme.js"></script>
  

  
  
  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.StickyNav.enable();
      });
  </script>
   

</body>
</html>