

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Common library &mdash; Slick Framework 1.0.0 documentation</title>
  

  
  

  
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Slab:400,700|Inconsolata:400,700' rel='stylesheet' type='text/css'>

  
  
    

  

  
  
    <link rel="stylesheet" href="../_static/css/theme.css" type="text/css" />
  

  
    <link rel="top" title="Slick Framework 1.0.0 documentation" href="../index.html"/>
        <link rel="up" title="Components" href="index.html"/>
        <link rel="next" title="Database Access" href="database.html"/>
        <link rel="prev" title="Cache" href="cache.html"/> 

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav" role="document">

  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-nav-search">
        <a href="../index.html" class="fa fa-home"> Slick Framework</a>
        <div role="search">
  <form id ="rtd-search-form" class="wy-form" action="../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>
      </div>

      <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
        
        
            <ul class="current">
<li class="toctree-l1 current"><a class="reference internal" href="index.html">Components</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="cache.html">Cache</a></li>
<li class="toctree-l2 current"><a class="current reference internal" href="">Common library</a></li>
<li class="toctree-l2"><a class="reference internal" href="database.html">Database Access</a></li>
<li class="toctree-l2"><a class="reference internal" href="dependency.html">Dependency Injection Container</a></li>
<li class="toctree-l2"><a class="reference internal" href="template.html">Template</a></li>
</ul>
</li>
</ul>

        
      </div>
      &nbsp;
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
        <a href="../index.html">Slick Framework</a>
      </nav>


      
      <div class="wy-nav-content">
        <div class="rst-content">
          <div role="navigation" aria-label="breadcrumbs navigation">
  <ul class="wy-breadcrumbs">
    <li><a href="../index.html">Docs</a> &raquo;</li>
      
          <li><a href="index.html">Components</a> &raquo;</li>
      
    <li>Common library</li>
      <li class="wy-breadcrumbs-aside">
        
          <a href="../_sources/components/common.txt" rel="nofollow"> View page source</a>
        
      </li>
  </ul>
  <hr/>
</div>
          <div role="main">
            
  <div class="section" id="common-library">
<h1>Common library<a class="headerlink" href="#common-library" title="Permalink to this headline">¶</a></h1>
<p>Common library is a set of useful classes and traits that are in almost every class
in the entire Slick framework. They form a solid base to develop on top of and help
you remove the tedious work of create getters, setters, allow read end or write access
to the properties and inspect classes and properties.</p>
<div class="section" id="understanding-the-base-class">
<h2>Understanding the &#8220;Base&#8221; class<a class="headerlink" href="#understanding-the-base-class" title="Permalink to this headline">¶</a></h2>
<p>The <tt class="docutils literal"><span class="pre">Slick\Common\Base</span></tt> class is one of the most important classes of Slick. It is responsible for the
&#8220;magic&#8221; in classes that extends it. It is very important that you have a clear understanding of what
this class does to really speed up your development.</p>
<div class="section" id="defining-class-properties">
<h3>Defining class properties<a class="headerlink" href="#defining-class-properties" title="Permalink to this headline">¶</a></h3>
<p>When defining properties in classes that extend <tt class="docutils literal"><span class="pre">Slick\Common\Base</span></tt> you have to follow a simple convention:</p>
<ul class="simple">
<li>properties must be prefixed with an &#8220;_&#8221; (underscore);</li>
<li>property visibility is defined as <tt class="docutils literal"><span class="pre">protected</span></tt>;</li>
<li>property names are camel cased;</li>
<li>use one of <tt class="docutils literal"><span class="pre">&#64;read</span></tt>, <tt class="docutils literal"><span class="pre">&#64;write</span></tt> or <tt class="docutils literal"><span class="pre">&#64;readwrite</span></tt> annotations to define the public access mode to those properties.</li>
</ul>
<p>Lets see an example:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="o">&lt;?</span><span class="nx">php</span>
<span class="k">use</span> <span class="nx">Slick\Common\Base</span><span class="p">;</span>
<span class="k">class</span> <span class="nc">MyClass</span> <span class="k">extends</span> <span class="nx">Base</span>
<span class="p">{</span>
    <span class="sd">/**</span>
<span class="sd">     * @readwrite</span>
<span class="sd">     * @var string</span>
<span class="sd">     */</span>
    <span class="k">protected</span> <span class="nv">$_name</span><span class="p">;</span>

    <span class="o">...</span>
<span class="p">}</span>

<span class="nv">$myClass</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">MyClass</span><span class="p">();</span>
<span class="nv">$myClass</span><span class="o">-&gt;</span><span class="na">name</span> <span class="o">=</span> <span class="s2">&quot;Foo&quot;</span><span class="p">;</span>
<span class="k">echo</span> <span class="nv">$myClass</span><span class="o">-&gt;</span><span class="na">name</span><span class="p">;</span>        <span class="c1">// This will print out &quot;Foo&quot;</span>
</pre></div>
</div>
<p>As you can see in this example, defining property <tt class="docutils literal"><span class="pre">MyClass::$_name</span></tt> is in fact very simple. The <tt class="docutils literal"><span class="pre">&#64;readwrite</span></tt>
annotation grants read and write access to it and it is a protected property.</p>
<p>Did you notice the way we access the <tt class="docutils literal"><span class="pre">MyClass::$_name</span></tt>? Yes, we access it as it was a <tt class="docutils literal"><span class="pre">public</span></tt> property!</p>
<p>This is the first feature of <tt class="docutils literal"><span class="pre">Slick\Common\Base</span></tt>: to expose this properties in a <tt class="docutils literal"><span class="pre">public</span></tt> fashion
using the PHP <tt class="docutils literal"><span class="pre">__get()</span></tt> and <tt class="docutils literal"><span class="pre">__set()</span></tt> magic methods.</p>
<p>The annotations used are defined as followed:</p>
<ul class="simple">
<li><tt class="docutils literal"><span class="pre">&#64;read</span></tt> The property can be accessed as a read only. Any attempt to assign a value to a read only property will raise a <tt class="docutils literal"><span class="pre">Slick\Common\Exception\ReadOnlyException</span></tt> exception. This is the default behavior if no annotation is provided;</li>
<li><tt class="docutils literal"><span class="pre">&#64;write</span></tt> A value can be assigned to the property. Any attempt to read the property value will raise a <tt class="docutils literal"><span class="pre">Slick\Common\Exception\WriteOnlyException</span></tt> exception;</li>
<li><tt class="docutils literal"><span class="pre">&#64;readwrite</span></tt> The property can be read or changed as a <tt class="docutils literal"><span class="pre">public</span></tt> property.</li>
</ul>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">This feature can be also achieved using <tt class="docutils literal"><span class="pre">private</span></tt> as visibility, however it will not work with objects
of classes that extend the one using <tt class="docutils literal"><span class="pre">private</span></tt> visibility as it cannot be accessed by them.</p>
</div>
<div class="admonition warning">
<p class="first admonition-title">Warning</p>
<p class="last">Any attempt to assign or read an undefined property on classes that extends <tt class="docutils literal"><span class="pre">Slick\Common\Base</span></tt> will
raise a <tt class="docutils literal"><span class="pre">Slick\Common\Exception\UndefinedPropertyException</span></tt> exception. This is a great way to avoid
dynamic change of objects.</p>
</div>
</div>
<div class="section" id="getters-and-setters">
<h3>Getters and Setters<a class="headerlink" href="#getters-and-setters" title="Permalink to this headline">¶</a></h3>
<p><tt class="docutils literal"><span class="pre">Slick\Common\Base</span></tt> class also has a public getter and setter for the properties defined we seen above.</p>
<p>Consider the following example:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="o">&lt;?</span><span class="nx">php</span>
<span class="k">use</span> <span class="nx">Slick\Common\Base</span><span class="p">;</span>
<span class="k">class</span> <span class="nc">MyClass</span> <span class="k">extends</span> <span class="nx">Base</span>
<span class="p">{</span>
    <span class="sd">/**</span>
<span class="sd">     * @readwrite</span>
<span class="sd">     * @var string</span>
<span class="sd">     */</span>
    <span class="k">protected</span> <span class="nv">$_name</span><span class="p">;</span>

    <span class="o">...</span>
<span class="p">}</span>

<span class="nv">$myClass</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">MyClass</span><span class="p">();</span>
<span class="nv">$myClass</span><span class="o">-&gt;</span><span class="na">setName</span><span class="p">(</span><span class="s2">&quot;Foo&quot;</span><span class="p">);</span>
<span class="k">echo</span> <span class="nv">$myClass</span><span class="o">-&gt;</span><span class="na">getName</span><span class="p">();</span>      <span class="c1">// This will print out &quot;Foo&quot;</span>
</pre></div>
</div>
<p>If you follow the convention you will have getters and setters for all defined properties.</p>
<p>This is another cool feature of Base class: Expose getters and setters to all the properties using
PHP <tt class="docutils literal"><span class="pre">__call()</span></tt> magic method.</p>
<p>It is possible to chain calls with setters as they will always return the object they called in.
For example:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="o">&lt;?</span><span class="nx">php</span>
<span class="nv">$myClass</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">MyClass</span><span class="p">();</span>
<span class="nv">$myClass</span><span class="o">-&gt;</span><span class="na">setName</span><span class="p">(</span><span class="s2">&quot;Bar&quot;</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">getName</span><span class="p">();</span>            <span class="c1">// This will output &quot;Bar&quot;</span>
</pre></div>
</div>
<p>As you can see the getter method was chained in the return of the setter as it will return the <tt class="docutils literal"><span class="pre">$myClass</span></tt> object.</p>
</div>
<div class="section" id="the-setter-getter-is-always-in-the-way">
<h3>The setter/getter is always in the way<a class="headerlink" href="#the-setter-getter-is-always-in-the-way" title="Permalink to this headline">¶</a></h3>
<p>Another benefit of extending the Base class it that you can define the way a given property gets its value
even when you assign the value as a public property.</p>
<p>Lest see an example:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="o">&lt;?</span><span class="nx">php</span>
<span class="k">use</span> <span class="nx">Slick\Common\Base</span><span class="p">;</span>
<span class="k">class</span> <span class="nc">MyClass</span> <span class="k">extends</span> <span class="nx">Base</span>
<span class="p">{</span>
    <span class="sd">/**</span>
<span class="sd">     * @readwrite</span>
<span class="sd">     * @var string</span>
<span class="sd">     */</span>
    <span class="k">protected</span> <span class="nv">$_name</span><span class="p">;</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">setName</span><span class="p">(</span><span class="nv">$name</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">_name</span> <span class="o">=</span> <span class="nx">strtoupper</span><span class="p">(</span><span class="nv">$name</span><span class="p">);</span>
        <span class="k">return</span> <span class="nv">$this</span><span class="p">;</span>
    <span class="p">}</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">getName</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="k">if</span> <span class="p">(</span><span class="nb">is_null</span><span class="p">(</span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">_name</span><span class="p">))</span> <span class="p">{</span>
            <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">_name</span> <span class="o">=</span> <span class="s2">&quot;No Name&quot;</span><span class="p">;</span>
        <span class="p">}</span>
        <span class="k">return</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">_name</span><span class="p">;</span>
    <span class="p">}</span>
<span class="p">}</span>

<span class="nv">$myClass</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">MyClass</span><span class="p">();</span>
<span class="nv">$myClass</span><span class="o">-&gt;</span><span class="na">name</span> <span class="o">=</span> <span class="s2">&quot;Foo Bar&quot;</span><span class="p">;</span>
<span class="k">echo</span> <span class="nv">$myClass</span><span class="o">-&gt;</span><span class="na">getName</span><span class="p">();</span>   <span class="c1">// This will print out FOO BAR</span>
</pre></div>
</div>
<p>In the code above we define the <tt class="docutils literal"><span class="pre">MyClass::setName()</span></tt> method and as you can see by assign a value to the
name property the setName() method is always called.</p>
<p>In the same way, the <tt class="docutils literal"><span class="pre">MyClass::getName()</span></tt> is always called when you retrieve the property value.</p>
<p>This is in fact a good way of doing &#8220;lazy load&#8221; of expensive properties and ensure that even if you call the
property the method and behavior are always the same.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">In the above example we add the <tt class="docutils literal"><span class="pre">return</span> <span class="pre">$this;</span></tt> line to maintain the same behavior of the setters
as it is defined by Base class. If you don&#8217;t put that line as the setter return you will no longer
be able to chain other method calls.</p>
</div>
</div>
<div class="section" id="easy-construction">
<h3>Easy construction<a class="headerlink" href="#easy-construction" title="Permalink to this headline">¶</a></h3>
<p>When creating an object you will probably need to set some properties before you use that object. The way of
doing this is by adding the needed parameters to the constructor or by calling the setters you need to properly
set the state of your object before using it.</p>
<p>But adding parameters to the constructor leads to a question of what parameters to use, in what order and will they
have a default value? you will end up with a big, ugly constructor signature.
Calling the the setters is more elegante but still is not as clean as i can be.</p>
<p>The Base class has a constructor that accepts an array or object as the values for its properties.</p>
<p>Lets see the following code:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="o">&lt;?</span><span class="nx">php</span>
<span class="k">use</span> <span class="nx">Slick\Common\Base</span><span class="p">;</span>
<span class="k">class</span> <span class="nc">MyClass</span> <span class="k">extends</span> <span class="nx">Base</span>
<span class="p">{</span>
    <span class="sd">/**</span>
<span class="sd">     * @readwrite</span>
<span class="sd">     * @var string</span>
<span class="sd">     */</span>
    <span class="k">protected</span> <span class="nv">$_name</span><span class="p">;</span>

    <span class="o">...</span>
<span class="p">}</span>

<span class="nv">$myClass</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">MyClass</span><span class="p">([</span><span class="s1">&#39;name&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;Foo&#39;</span><span class="p">]);</span>
<span class="k">echo</span> <span class="nv">$myClass</span><span class="o">-&gt;</span><span class="na">getName</span><span class="p">();</span>      <span class="c1">// This will print out &quot;Foo&quot;</span>
</pre></div>
</div>
<p>As you can see passing an array of associative key/value pairs where keys are the property names you want to set
when creating the object is a more elegant and flexible way of setting the object state before using it.</p>
<div class="admonition warning">
<p class="first admonition-title">Warning</p>
<p class="last">If in your class you need to define a constructor always remember that you will need to call
<tt class="docutils literal"><span class="pre">parent::__construct()</span></tt> cause it will raise an exception if you do not do so.</p>
</div>
</div>
</div>
<div class="section" id="creating-singletons">
<h2>Creating Singletons<a class="headerlink" href="#creating-singletons" title="Permalink to this headline">¶</a></h2>
<p>If you need to create a singleton object and have all the <tt class="docutils literal"><span class="pre">Slick\Common\Base</span></tt> behavior this Slick component
also have a <tt class="docutils literal"><span class="pre">Slick\Common\BaseSingleton</span></tt> that implements the <tt class="docutils literal"><span class="pre">Slick\Common\SingletonInterface</span></tt> witch has
the getInstance() method you need to define.</p>
<p>Lets see an example:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="o">&lt;?</span><span class="nx">php</span>
<span class="k">use</span> <span class="nx">Slick\Common\BaseSingleton</span><span class="p">;</span>
<span class="k">class</span> <span class="nc">MyClass</span> <span class="k">extends</span> <span class="nx">BaseSingleton</span>
<span class="p">{</span>
    <span class="sd">/**</span>
<span class="sd">     * @readwrite</span>
<span class="sd">     * @var string</span>
<span class="sd">     */</span>
    <span class="k">protected</span> <span class="nv">$_name</span><span class="p">;</span>

    <span class="k">private</span> <span class="k">static</span> <span class="nv">$_instance</span><span class="p">;</span>

    <span class="k">public</span> <span class="k">static</span> <span class="k">function</span> <span class="nf">getInstance</span><span class="p">(</span><span class="nv">$options</span> <span class="o">=</span> <span class="k">array</span><span class="p">())</span>
    <span class="p">{</span>
        <span class="k">if</span> <span class="p">(</span><span class="nb">is_null</span><span class="p">(</span><span class="k">static</span><span class="o">::</span><span class="nv">$_instance</span><span class="p">))</span> <span class="p">{</span>
            <span class="k">static</span><span class="o">::</span><span class="nv">$_instance</span> <span class="o">=</span> <span class="k">new</span> <span class="k">Static</span><span class="p">(</span><span class="nv">$options</span><span class="p">);</span>
        <span class="p">}</span>
        <span class="k">return</span> <span class="k">static</span><span class="o">::</span><span class="nv">$_instance</span><span class="p">;</span>
    <span class="p">}</span>
<span class="p">}</span>

<span class="nv">$myClass</span> <span class="o">=</span> <span class="nx">MyClass</span><span class="o">::</span><span class="na">getInstance</span><span class="p">([</span><span class="s1">&#39;name&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;Foo&#39;</span><span class="p">]);</span>
<span class="k">echo</span> <span class="nv">$myClass</span><span class="o">-&gt;</span><span class="na">getName</span><span class="p">();</span>   <span class="c1">// This will print out &quot;Foo&quot;</span>
</pre></div>
</div>
<p>All the features are present in SingletonBase class and you only need to implement the getInstance() method.</p>
</div>
<div class="section" id="inspect-and-annotations">
<h2>Inspect and Annotations<a class="headerlink" href="#inspect-and-annotations" title="Permalink to this headline">¶</a></h2>
<p>The <tt class="docutils literal"><span class="pre">Slick\Common</span></tt> component also has an <tt class="docutils literal"><span class="pre">Inspector</span></tt> utility class that can help you with class or object
inspection and <tt class="docutils literal"><span class="pre">Annotations</span></tt> parsing. It is also possible to define custom annotations to use with your classes.
The base class uses the <tt class="docutils literal"><span class="pre">Slick\Common\Inspector</span></tt> to determine the visibility and access to it properties.</p>
<div class="section" id="inspect-classes-or-objects">
<h3>Inspect classes or objects<a class="headerlink" href="#inspect-classes-or-objects" title="Permalink to this headline">¶</a></h3>
<p><tt class="docutils literal"><span class="pre">Slick\Common\Inspector::__construct()</span></tt> needs only an object or a full qualified class name to retrieve metadata
from that class.</p>
<p>Lets consider the following class:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="o">&lt;?</span><span class="nx">php</span>
<span class="k">namespace</span> <span class="nx">Models</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Slick\Common\Base</span><span class="p">;</span>
<span class="k">class</span> <span class="nc">User</span> <span class="k">extends</span> <span class="nx">Base</span>
<span class="p">{</span>
    <span class="sd">/**</span>
<span class="sd">     * @readwrite</span>
<span class="sd">     * @column type=text, size=tiny</span>
<span class="sd">     * @var string</span>
<span class="sd">     */</span>
    <span class="k">protected</span> <span class="nv">$_name</span><span class="p">;</span>

    <span class="sd">/**</span>
<span class="sd">     * @readwrite</span>
<span class="sd">     * @var string</span>
<span class="sd">     */</span>
    <span class="k">protected</span> <span class="nv">$_age</span><span class="p">;</span>

    <span class="sd">/**</span>
<span class="sd">     * @readwrite</span>
<span class="sd">     * @var string</span>
<span class="sd">     */</span>
    <span class="k">protected</span> <span class="nv">$_active</span><span class="p">;</span>

    <span class="sd">/**</span>
<span class="sd">     * Check if age is under 18 years old</span>
<span class="sd">     *</span>
<span class="sd">     * @return boolean</span>
<span class="sd">     */</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">isTeenager</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="k">return</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">_age</span> <span class="o">&lt;</span> <span class="mi">18</span><span class="p">;</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>Given the above class definition lets inspect its metadata with <tt class="docutils literal"><span class="pre">Inspector</span></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="o">&lt;?</span><span class="nx">php</span>
<span class="k">use</span> <span class="nx">Slick\Common\Inspector</span><span class="p">;</span>

<span class="nv">$inspector</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Inspector</span><span class="p">(</span><span class="s1">&#39;\Models\User&#39;</span><span class="p">);</span>

<span class="c1">// Getting the list of properties</span>
<span class="nv">$propertyList</span> <span class="o">=</span> <span class="nv">$inspector</span><span class="o">-&gt;</span><span class="na">getClassProperties</span><span class="p">();</span> <span class="c1">// [&#39;_name&#39;, &#39;_age&#39;, &#39;_active&#39;]</span>

<span class="c1">// Getting the list of methods</span>
<span class="nv">$methodList</span> <span class="o">=</span> <span class="nv">$Inspector</span><span class="o">-&gt;</span><span class="na">getClassMethods</span><span class="p">();</span> <span class="c1">// [&#39;isTeenager&#39;]</span>

<span class="nv">$inspector</span><span class="o">-&gt;</span><span class="na">hasMethod</span><span class="p">(</span><span class="s1">&#39;getName&#39;</span><span class="p">);</span> <span class="c1">// FALSE</span>
<span class="nv">$inspector</span><span class="o">-&gt;</span><span class="na">hasProperty</span><span class="p">(</span><span class="s1">&#39;_age&#39;</span><span class="p">);</span>  <span class="c1">// TRUE</span>
</pre></div>
</div>
<p>Those are the simplest methods of <tt class="docutils literal"><span class="pre">Inspector</span></tt>. Just retrieve the property and method names.</p>
</div>
<div class="section" id="retrieve-the-annotations">
<h3>Retrieve the annotations<a class="headerlink" href="#retrieve-the-annotations" title="Permalink to this headline">¶</a></h3>
<p>Now we have the knowledge of what properties and and methods the class have lets retrieve the annotations
present in the doc blocks.</p>
<dl class="docutils">
<dt>There hare tree methods that you can use to retrieve the annotations present in comments:</dt>
<dd><ul class="first last simple">
<li><strong>getClassAnnotations()</strong> Retrieves a list of annotations from the class comment block;</li>
<li><strong>getPropertyAnnotations($property)</strong> Retrieve a list of annotations from a provided property;</li>
<li><strong>getMethodAnnotations($method)</strong> Retrieves a list of annotations form a provided method.</li>
</ul>
</dd>
</dl>
<p>Lets see an example:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="o">&lt;?</span><span class="nx">php</span>
<span class="k">use</span> <span class="nx">Slick\Common\Inspector</span><span class="p">;</span>

<span class="nv">$inspector</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Inspector</span><span class="p">(</span><span class="s1">&#39;Models\User&#39;</span><span class="p">);</span>

<span class="nv">$annotations</span> <span class="o">=</span> <span class="nv">$inspector</span><span class="o">-&gt;</span><span class="na">getPropertyAnnotations</span><span class="p">(</span><span class="s1">&#39;_name&#39;</span><span class="p">);</span>

<span class="c1">// Annotations is an ArrayObject that contains all defined annotations of a given</span>
<span class="c1">// comment block. In this case the comment block for _name property.</span>

<span class="k">if</span> <span class="p">(</span><span class="nv">$annotations</span><span class="o">-&gt;</span><span class="na">hasAnnotation</span><span class="p">(</span><span class="s1">&#39;column&#39;</span><span class="p">)</span> <span class="p">{</span>
    <span class="nv">$columnAnnotation</span> <span class="o">=</span> <span class="nv">$annotations</span><span class="o">-&gt;</span><span class="na">getAnnotation</span><span class="p">(</span><span class="s1">&#39;column&#39;</span><span class="p">);</span>

    <span class="nv">$columnAnnotation</span><span class="o">-&gt;</span><span class="na">getName</span><span class="p">();</span>  <span class="c1">// returns &#39;column&#39;</span>
    <span class="nv">$columnAnnotation</span><span class="o">-&gt;</span><span class="na">getValue</span><span class="p">();</span> <span class="c1">// returns TRUE</span>
    <span class="nv">$columnAnnotation</span><span class="o">-&gt;</span><span class="na">getParameter</span><span class="p">(</span><span class="s1">&#39;size&#39;</span><span class="p">)</span> <span class="c1">// It will have &#39;tiny&#39;</span>
<span class="p">{</span>

<span class="c1">// Check another annotation</span>
<span class="c1">// Here you can optionally use the @ as this may seem clean in your code</span>
<span class="k">if</span> <span class="p">(</span><span class="nv">$annotations</span><span class="o">-&gt;</span><span class="na">hasAnnotation</span><span class="p">(</span><span class="s1">&#39;@var&#39;</span><span class="p">)</span> <span class="p">{</span>
    <span class="nv">$var</span> <span class="o">=</span> <span class="nv">$annotations</span><span class="o">-&gt;</span><span class="na">getAnnotation</span><span class="p">(</span><span class="s1">&#39;@var&#39;</span><span class="p">);</span>

    <span class="nv">$vat</span><span class="o">-&gt;</span><span class="na">getValue</span><span class="p">();</span>   <span class="c1">// This will return the &#39;string&#39; value</span>
    <span class="c1">// if the first parameter of the annotations is a string it will be used as</span>
    <span class="c1">// the value for that annotation.</span>
<span class="p">}</span>
</pre></div>
</div>
<div class="admonition warning">
<p class="first admonition-title">Warning</p>
<p class="last">If you try to get an annotation that is not in the annotations list an
SlickCommonExceptionInvalidArgumentException will be thrown. It is very important
that you test if the annotation exists before you retrieve it from the list.</p>
</div>
</div>
<div class="section" id="annotations-parser">
<h3>Annotations Parser<a class="headerlink" href="#annotations-parser" title="Permalink to this headline">¶</a></h3>
<p>Annotations parse is a very simple yet versatile parser that can understand a wide range of
annotations and translate them into list, objects, numbers, etc.</p>
<div class="section" id="scalar-values">
<h4>Scalar values<a class="headerlink" href="#scalar-values" title="Permalink to this headline">¶</a></h4>
<div class="highlight-php"><div class="highlight"><pre><span class="o">&lt;?</span><span class="nx">php</span>

<span class="sd">/**</span>
<span class="sd"> * Simple strings, integers and float numbers</span>
<span class="sd"> *</span>
<span class="sd"> * @annotation foo=bar, baz=14, size=2.3</span>
<span class="sd"> */</span>

 <span class="nv">$annotation</span><span class="o">-&gt;</span><span class="na">getParameter</span><span class="p">(</span><span class="s1">&#39;size&#39;</span><span class="p">);</span> <span class="c1">// will return 2.3 float number</span>
</pre></div>
</div>
</div>
<div class="section" id="arrays-and-lists">
<h4>Arrays and lists<a class="headerlink" href="#arrays-and-lists" title="Permalink to this headline">¶</a></h4>
<div class="highlight-php"><div class="highlight"><pre><span class="o">&lt;?</span><span class="nx">php</span>

<span class="sd">/**</span>
<span class="sd"> * Arrays and lists</span>
<span class="sd"> *</span>
<span class="sd"> * @annotation foo=[one, two, three], array=[foo=[other, list]]</span>
<span class="sd"> */</span>

 <span class="nv">$annotation</span><span class="o">-&gt;</span><span class="na">getParameter</span><span class="p">(</span><span class="s1">&#39;foo&#39;</span><span class="p">);</span> <span class="c1">// will return [&#39;one&#39;, &#39;two&#39;, &#39;three&#39;]</span>
 <span class="nv">$annotation</span><span class="o">-&gt;</span><span class="na">getParameter</span><span class="p">(</span><span class="s1">&#39;array&#39;</span><span class="p">);</span> <span class="c1">// will return [&#39;foo&#39; =&gt; [&#39;other&#39;, &#39;list&#39;]]</span>
</pre></div>
</div>
</div>
<div class="section" id="objects-json-notation">
<h4>Objects (json notation)<a class="headerlink" href="#objects-json-notation" title="Permalink to this headline">¶</a></h4>
<div class="highlight-php"><div class="highlight"><pre><span class="o">&lt;?</span><span class="nx">php</span>

<span class="sd">/**</span>
<span class="sd"> * Objects</span>
<span class="sd"> *</span>
<span class="sd"> * @annotation foo={&quot;bar&quot;: [1, 2, 3]}</span>
<span class="sd"> */</span>

 <span class="nv">$annotation</span><span class="o">-&gt;</span><span class="na">getParameter</span><span class="p">(</span><span class="s1">&#39;foo&#39;</span><span class="p">);</span> <span class="c1">// will return {&quot;bar&quot; =&gt; [1, 2, 3]}</span>
</pre></div>
</div>
</div>
<div class="section" id="booleans">
<h4>Booleans<a class="headerlink" href="#booleans" title="Permalink to this headline">¶</a></h4>
<div class="highlight-php"><div class="highlight"><pre><span class="o">&lt;?</span><span class="nx">php</span>

<span class="sd">/**</span>
<span class="sd"> * Booleans</span>
<span class="sd"> *</span>
<span class="sd"> * @annotation foo=true, bar=false</span>
<span class="sd"> */</span>

 <span class="nv">$annotation</span><span class="o">-&gt;</span><span class="na">getParameter</span><span class="p">(</span><span class="s1">&#39;foo&#39;</span><span class="p">);</span> <span class="c1">// will return TRUE</span>
</pre></div>
</div>
</div>
</div>
<div class="section" id="defining-your-own-annotations">
<h3>Defining your own annotations<a class="headerlink" href="#defining-your-own-annotations" title="Permalink to this headline">¶</a></h3>
<p>It is possible to define you own annotations that will have a default set of parameters
and will help you when you not set the parameters in the comment block and need a value
for those parameters.</p>
<p>Lets see an example:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="o">&lt;?</span><span class="nx">php</span>
<span class="k">use</span> <span class="nx">Slick\Common\Inspector</span><span class="p">,</span>
    <span class="nx">Slick\Common\Inspector\Annotation</span><span class="p">;</span>

<span class="c1">// A class to inspect</span>
<span class="k">class</span> <span class="nc">Foo</span>
<span class="p">{</span>

    <span class="sd">/**</span>
<span class="sd">     * @custom test, foo=true</span>
<span class="sd">     */</span>
     <span class="k">private</span> <span class="nv">$_name</span><span class="p">;</span>

<span class="p">}</span>

<span class="c1">// Our custom annotation</span>
<span class="k">class</span> <span class="nc">CustomAnnotation</span> <span class="k">extends</span> <span class="nx">Annotation</span>
<span class="p">{</span>
    <span class="k">protected</span> <span class="nv">$_parameters</span> <span class="o">=</span> <span class="p">[</span>
        <span class="s1">&#39;foo&#39;</span> <span class="o">=&gt;</span> <span class="k">false</span><span class="p">,</span>
        <span class="s1">&#39;bar&#39;</span> <span class="o">=&gt;</span> <span class="k">true</span>
    <span class="p">];</span>
<span class="p">}</span>


<span class="c1">// Register our new annotation</span>
<span class="nx">Inspector</span><span class="o">::</span><span class="na">addAnnotationClass</span><span class="p">(</span><span class="s1">&#39;custom&#39;</span><span class="p">,</span> <span class="s1">&#39;\CustomAnnotation&#39;</span><span class="p">);</span>

<span class="nv">$inspector</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Inspector</span><span class="p">(</span><span class="s1">&#39;\Foo&#39;</span><span class="p">);</span>

<span class="nv">$annotation</span> <span class="o">=</span> <span class="nv">$inspector</span><span class="o">-&gt;</span><span class="na">getPropertyAnnotations</span><span class="p">(</span><span class="s1">&#39;_name&#39;</span><span class="p">)</span><span class="o">-&gt;</span><span class="na">getAnnotation</span><span class="p">(</span><span class="s1">&#39;@custom&#39;</span><span class="p">);</span>

<span class="nv">$annotations</span><span class="o">-&gt;</span><span class="na">getParameter</span><span class="p">(</span><span class="s1">&#39;foo&#39;</span><span class="p">);</span> <span class="c1">// will return TRUE</span>
<span class="nv">$annotations</span><span class="o">-&gt;</span><span class="na">getParameter</span><span class="p">(</span><span class="s1">&#39;bar&#39;</span><span class="p">);</span> <span class="c1">// will return TRUE</span>
<span class="nv">$annotations</span><span class="o">-&gt;</span><span class="na">getValue</span><span class="p">();</span> <span class="c1">// will return &#39;test&#39; string</span>
</pre></div>
</div>
<p>As you can see it is very simple to have a annotation that you can define all parameter with default
values an used them without worry if they are present or not in the comment.</p>
<p>You only need to add the class to the inspector class map once, in your bootstrap for example.</p>
</div>
</div>
</div>


          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="database.html" class="btn btn-neutral float-right" title="Database Access"/>Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="cache.html" class="btn btn-neutral" title="Cache"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2014, Slick Framework.
    </p>
  </div>

  <a href="https://github.com/snide/sphinx_rtd_theme">Sphinx theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>
</footer>
        </div>
      </div>

    </section>

  </div>
  


  

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'../',
            VERSION:'1.0.0',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'.html',
            HAS_SOURCE:  true
        };
    </script>
      <script type="text/javascript" src="../_static/jquery.js"></script>
      <script type="text/javascript" src="../_static/underscore.js"></script>
      <script type="text/javascript" src="../_static/doctools.js"></script>

  

  
  
    <script type="text/javascript" src="../_static/js/theme.js"></script>
  

  
  
  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.StickyNav.enable();
      });
  </script>
   

</body>
</html>