

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Dependency Injection Container &mdash; Slick Framework 1.1.0 documentation</title>
  

  
  

  
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Slab:400,700|Inconsolata:400,700' rel='stylesheet' type='text/css'>

  
  
    

  

  
  
    <link rel="stylesheet" href="../_static/css/theme.css" type="text/css" />
  

  
    <link rel="top" title="Slick Framework 1.1.0 documentation" href="../index.html"/>
        <link rel="up" title="Components" href="index.html"/>
        <link rel="next" title="Template" href="template.html"/>
        <link rel="prev" title="Using the SQL object" href="database/sql.html"/> 

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav" role="document">

  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-nav-search">
        <a href="../index.html" class="fa fa-home"> Slick Framework</a>
        <div role="search">
  <form id ="rtd-search-form" class="wy-form" action="../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>
      </div>

      <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
        
        
            <ul class="current">
<li class="toctree-l1 current"><a class="reference internal" href="index.html">Components</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="cache.html">Cache</a></li>
<li class="toctree-l2"><a class="reference internal" href="common.html">Common library</a></li>
<li class="toctree-l2"><a class="reference internal" href="database.html">Database Access</a></li>
<li class="toctree-l2 current"><a class="current reference internal" href="">Dependency Injection Container</a></li>
<li class="toctree-l2"><a class="reference internal" href="template.html">Template</a></li>
</ul>
</li>
</ul>

        
      </div>
      &nbsp;
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
        <a href="../index.html">Slick Framework</a>
      </nav>


      
      <div class="wy-nav-content">
        <div class="rst-content">
          <div role="navigation" aria-label="breadcrumbs navigation">
  <ul class="wy-breadcrumbs">
    <li><a href="../index.html">Docs</a> &raquo;</li>
      
          <li><a href="index.html">Components</a> &raquo;</li>
      
    <li>Dependency Injection Container</li>
      <li class="wy-breadcrumbs-aside">
        
          <a href="../_sources/components/dependency.txt" rel="nofollow"> View page source</a>
        
      </li>
  </ul>
  <hr/>
</div>
          <div role="main">
            
  <div class="section" id="dependency-injection-container">
<h1><a class="toc-backref" href="#id1">Dependency Injection Container</a><a class="headerlink" href="#dependency-injection-container" title="Permalink to this headline">¶</a></h1>
<div class="contents topic" id="table-of-contents">
<p class="topic-title first">Table of Contents</p>
<ul class="simple">
<li><a class="reference internal" href="#dependency-injection-container" id="id1">Dependency Injection Container</a><ul>
<li><a class="reference internal" href="#installation" id="id2">Installation</a></li>
<li><a class="reference internal" href="#defining-injections" id="id3">Defining injections</a></li>
<li><a class="reference internal" href="#using-dependency-container" id="id4">Using dependency container</a></li>
<li><a class="reference internal" href="#object-scope" id="id5">Object scope</a></li>
</ul>
</li>
</ul>
</div>
<p>Dependency injection and dependency injection containers are tow different things. Dependency injection is a way
of doing better code as you can read in this Fabien Pontencier&#8217;s
<a class="reference external" href="http://fabien.potencier.org/article/11/what-is-dependency-injection">article about dependency injection</a>.
In other hand <em>Dependency Injection Container</em> is a tool that will help you injectic dependencies.</p>
<p>This component for Slick is a very simple library where you can define dependencies and have them injected
in your object as you call for them.</p>
<div class="section" id="installation">
<h2><a class="toc-backref" href="#id2">Installation</a><a class="headerlink" href="#installation" title="Permalink to this headline">¶</a></h2>
<p>To install this component add the following line to your <tt class="docutils literal"><span class="pre">composer.json</span></tt></p>
<div class="highlight-json"><div class="highlight"><pre><span class="p">{</span>
    <span class="nt">&quot;require&quot;</span><span class="p">:</span> <span class="p">{</span>
        <span class="nt">&quot;slick/di&quot;</span><span class="p">:</span> <span class="s2">&quot;*&quot;</span><span class="p">,</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
</div>
<div class="section" id="defining-injections">
<h2><a class="toc-backref" href="#id3">Defining injections</a><a class="headerlink" href="#defining-injections" title="Permalink to this headline">¶</a></h2>
<p>Container builder needs an array of definitions to build a dependency container. Definition class helps you
define those injections.</p>
<p><strong>Value definition</strong></p>
<p>A value definition is used to store a scalar value or object. This allows you to use the dependency injector
as a <em>registry</em> component storing all your values where you can reuse them.</p>
<p>Lets see an example:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="o">&lt;?</span><span class="nx">php</span>

<span class="k">return</span> <span class="p">[</span>
    <span class="s1">&#39;myValue&#39;</span> <span class="o">=&gt;</span> <span class="mi">1024</span>
<span class="p">];</span>
</pre></div>
</div>
<p>As you can see this is the simplest way of defining a value to be stored as <tt class="docutils literal"><span class="pre">myValue</span></tt> in the container
you will create.</p>
<p><strong>Factory definition</strong></p>
<p>A callable or <em>Factory</em> definition is used when you want to calculate the value when you call the container for that
definition. You need to define a callable or clojure for this definition.</p>
<p>Lets see an example:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="o">&lt;?</span><span class="nx">php</span>

<span class="k">return</span> <span class="p">[</span>
    <span class="s1">&#39;myCalculatedValue&#39;</span> <span class="o">=&gt;</span> <span class="nx">\Slick\Di\Definition</span><span class="o">::</span><span class="na">factory</span><span class="p">(</span><span class="k">function</span><span class="p">(){</span>
        <span class="k">return</span> <span class="k">new</span> <span class="nx">\DateTime</span><span class="p">(</span><span class="s2">&quot;now&quot;</span><span class="p">,</span> <span class="k">new</span> <span class="nx">\DateTimeZone</span><span class="p">(</span><span class="s1">&#39;UTC&#39;</span><span class="p">));</span>
    <span class="p">});</span>
<span class="p">];</span>
</pre></div>
</div>
<p>Here we use a factory or helper class <tt class="docutils literal"><span class="pre">\Slick\Di\Definition</span></tt> witch will create the container definition
for you. The factory method expects a callable or clojure, as we set in this example.</p>
<p><strong>Object definition</strong></p>
<p>This is the most flexible and powerful of all definitions. Object definitions does what its name states for:
define an object creation.</p>
<p>See the following code:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="o">&lt;?</span><span class="nx">php</span>

<span class="k">return</span> <span class="p">[</span>
    <span class="s1">&#39;myCoolObject&#39;</span> <span class="o">=&gt;</span> <span class="nx">\Slick\Di\Definition</span><span class="o">::</span><span class="na">object</span><span class="p">(</span><span class="s1">&#39;MyNamespace\MyCoolClass&#39;</span><span class="p">)</span>
        <span class="o">-&gt;</span><span class="na">constructor</span><span class="p">([</span><span class="s1">&#39;name&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;Foo&#39;</span><span class="p">])</span>
        <span class="o">-&gt;</span><span class="na">property</span><span class="p">(</span><span class="s1">&#39;isActive&#39;</span><span class="p">,</span> <span class="k">true</span><span class="p">)</span>
        <span class="o">-&gt;</span><span class="na">method</span><span class="p">(</span><span class="s1">&#39;startCode&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s1">&#39;some&#39;</span><span class="p">,</span> <span class="s1">&#39;code&#39;</span><span class="p">])</span>
<span class="p">];</span>
</pre></div>
</div>
<p>You have all you need to instantiate, set properties and call methods of an object that will be created
when you call <tt class="docutils literal"><span class="pre">Slick\Di\Container::get()</span></tt> method.
The helper is very verbose:</p>
<ul class="simple">
<li><tt class="docutils literal"><span class="pre">Slick\Di\Definition\Helper\ObjectDefinitionHelper::constructor()</span></tt>: used to set the list of parameters
you want to pass to the constructor on object creation.</li>
<li><tt class="docutils literal"><span class="pre">Slick\Di\Definition\Helper\ObjectDefinitionHelper::property()</span></tt>: used to set property values after object creation</li>
<li><tt class="docutils literal"><span class="pre">Slick\Di\Definition\Helper\ObjectDefinitionHelper::method()</span></tt>: used to call specific methods after object creation.</li>
</ul>
<p>Its likely that you can use almost every object with this definition.</p>
<p><strong>Link definition</strong></p>
<p>This is avery helpful definition. If you already have a definition in place and you want to access it with
other name you only need to create a link.</p>
<p>Lets see:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="o">&lt;?</span><span class="nx">php</span>

<span class="k">return</span> <span class="p">[</span>
    <span class="s1">&#39;myObject&#39;</span> <span class="o">=&gt;</span> <span class="nx">\Slick\Di\Definition</span><span class="o">::</span><span class="na">link</span><span class="p">(</span><span class="s1">&#39;myCoolObject&#39;</span><span class="p">);</span>
<span class="p">];</span>
</pre></div>
</div>
<p>Now if you call Container::get(&#8220;myObject&#8221;) the same object of &#8220;myCoolObject&#8221; will be returned.</p>
</div>
<div class="section" id="using-dependency-container">
<h2><a class="toc-backref" href="#id4">Using dependency container</a><a class="headerlink" href="#using-dependency-container" title="Permalink to this headline">¶</a></h2>
<p>Now that we have our definitions in place, lets use them. You will need to create a container and
pass the definitions to it.</p>
<p>Lets see a full example:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="o">&lt;?</span><span class="nx">php</span>

<span class="k">return</span> <span class="p">[</span>
    <span class="s1">&#39;myValue&#39;</span> <span class="o">=&gt;</span> <span class="mi">1024</span><span class="p">,</span>
    <span class="s1">&#39;myObject&#39;</span> <span class="o">=&gt;</span> <span class="nx">\Slick\Di\Definition</span><span class="o">::</span><span class="na">link</span><span class="p">(</span><span class="s1">&#39;myCoolObject&#39;</span><span class="p">),</span>
    <span class="s1">&#39;myCalculatedValue&#39;</span> <span class="o">=&gt;</span> <span class="nx">\Slick\Di\Definition</span><span class="o">::</span><span class="na">factory</span><span class="p">(</span><span class="k">function</span><span class="p">(){</span>
        <span class="k">return</span> <span class="k">new</span> <span class="nx">\DateTime</span><span class="p">(</span><span class="s2">&quot;now&quot;</span><span class="p">,</span> <span class="k">new</span> <span class="nx">\DateTimeZone</span><span class="p">(</span><span class="s1">&#39;UTC&#39;</span><span class="p">));</span>
    <span class="p">}),</span>
    <span class="s1">&#39;myCoolObject&#39;</span> <span class="o">=&gt;</span> <span class="nx">\Slick\Di\Definition</span><span class="o">::</span><span class="na">object</span><span class="p">(</span><span class="s1">&#39;MyNamespace\MyCoolClass&#39;</span><span class="p">)</span>
        <span class="o">-&gt;</span><span class="na">constructor</span><span class="p">([</span><span class="s1">&#39;name&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;Foo&#39;</span><span class="p">])</span>
        <span class="o">-&gt;</span><span class="na">property</span><span class="p">(</span><span class="s1">&#39;isActive&#39;</span><span class="p">,</span> <span class="k">true</span><span class="p">)</span>
        <span class="o">-&gt;</span><span class="na">method</span><span class="p">(</span><span class="s1">&#39;startCode&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s1">&#39;some&#39;</span><span class="p">,</span> <span class="s1">&#39;code&#39;</span><span class="p">])</span>
<span class="p">];</span>
</pre></div>
</div>
<p>Lets assume that the above code is in a file called <tt class="docutils literal"><span class="pre">definition.php</span></tt> lets create the container:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="o">&lt;?</span><span class="nx">php</span>

<span class="k">use</span> <span class="nx">SLick\Di\ContainerBuilder</span><span class="p">;</span>

<span class="nv">$definitions</span> <span class="o">=</span> <span class="k">include</span><span class="p">(</span><span class="s1">&#39;definition.php&#39;</span><span class="p">);</span>
<span class="nv">$container</span> <span class="o">=</span> <span class="nx">ContainerBuilder</span><span class="o">::</span><span class="na">build</span><span class="p">(</span><span class="nv">$definitions</span><span class="p">);</span>

<span class="c1">// Now lets use our container to get a new myCoolObject</span>
<span class="nv">$object</span> <span class="o">=</span> <span class="nv">$container</span><span class="o">-&gt;</span><span class="na">get</span><span class="p">(</span><span class="err">&#39;</span><span class="nx">myCoolObject</span><span class="p">);</span>
</pre></div>
</div>
<p>Now we have a full working container fed with our definitions ready to be used.</p>
</div>
<div class="section" id="object-scope">
<h2><a class="toc-backref" href="#id5">Object scope</a><a class="headerlink" href="#object-scope" title="Permalink to this headline">¶</a></h2>
<p>When defining your dependencies you can se the scope of the object:</p>
<ul class="simple">
<li><strong>Singleton</strong>: The object will be instantiated just once (the first time you call it) and then will be reused
every time you call it from your container;</li>
<li><strong>Prototype</strong>: The object will be instanciated every time you call it from your container.</li>
</ul>
<p>All the definitions you use have a default scope. See the table bellow fo details</p>
<table border="1" class="docutils">
<colgroup>
<col width="27%" />
<col width="17%" />
<col width="15%" />
<col width="22%" />
<col width="20%" />
</colgroup>
<tbody valign="top">
<tr class="row-odd"><td>&nbsp;</td>
<td>Value</td>
<td>link</td>
<td>factory</td>
<td>object</td>
</tr>
<tr class="row-even"><td>Singleton</td>
<td>X</td>
<td>&nbsp;</td>
<td>X</td>
<td>&nbsp;</td>
</tr>
<tr class="row-odd"><td>Prototype</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>X</td>
</tr>
</tbody>
</table>
<p>The container has a static property that is used to store those values and is the container that
uses the scope to determine if a new object is to be created or not.</p>
<p>Nevertheless you can call <tt class="docutils literal"><span class="pre">Container::make()</span></tt> witch forces the scope to be prototype.</p>
<p>You cal also set the scope when you define your injection by using the method <tt class="docutils literal"><span class="pre">DefinitionHelper::scope()</span></tt>
and passing the scope you want along with it. See the example bellow:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="o">&lt;?</span><span class="nx">php</span>

<span class="k">return</span> <span class="p">[</span>
    <span class="s1">&#39;myCoolObject&#39;</span> <span class="o">=&gt;</span> <span class="nx">\Slick\Di\Definition</span><span class="o">::</span><span class="na">object</span><span class="p">(</span><span class="s1">&#39;MyNamespace\MyCoolClass&#39;</span><span class="p">)</span>
        <span class="o">-&gt;</span><span class="na">constructor</span><span class="p">([</span><span class="s1">&#39;name&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;Foo&#39;</span><span class="p">])</span>
        <span class="o">-&gt;</span><span class="na">property</span><span class="p">(</span><span class="s1">&#39;isActive&#39;</span><span class="p">,</span> <span class="k">true</span><span class="p">)</span>
        <span class="o">-&gt;</span><span class="na">method</span><span class="p">(</span><span class="s1">&#39;startCode&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s1">&#39;some&#39;</span><span class="p">,</span> <span class="s1">&#39;code&#39;</span><span class="p">])</span>
        <span class="o">-&gt;</span><span class="na">scope</span><span class="p">(</span><span class="nx">\Slick\Di\Definition\Scope</span><span class="o">::</span><span class="na">PROTOTYPE</span><span class="p">())</span>
<span class="p">];</span>
</pre></div>
</div>
</div>
</div>


          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="template.html" class="btn btn-neutral float-right" title="Template"/>Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="database/sql.html" class="btn btn-neutral" title="Using the SQL object"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2014-2015, Slick Framework.
    </p>
  </div>

  <a href="https://github.com/snide/sphinx_rtd_theme">Sphinx theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>
</footer>
        </div>
      </div>

    </section>

  </div>
  


  

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'../',
            VERSION:'1.1.0',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'.html',
            HAS_SOURCE:  true
        };
    </script>
      <script type="text/javascript" src="../_static/jquery.js"></script>
      <script type="text/javascript" src="../_static/underscore.js"></script>
      <script type="text/javascript" src="../_static/doctools.js"></script>

  

  
  
    <script type="text/javascript" src="../_static/js/theme.js"></script>
  

  
  
  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.StickyNav.enable();
      });
  </script>
   

</body>
</html>