

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Template &mdash; Slick Framework 1.1.0 documentation</title>
  

  
  

  
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Slab:400,700|Inconsolata:400,700' rel='stylesheet' type='text/css'>

  
  
    

  

  
  
    <link rel="stylesheet" href="../_static/css/theme.css" type="text/css" />
  

  
    <link rel="top" title="Slick Framework 1.1.0 documentation" href="../index.html"/>
        <link rel="up" title="Components" href="index.html"/>
        <link rel="prev" title="Dependency Injection Container" href="dependency.html"/> 

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav" role="document">

  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-nav-search">
        <a href="../index.html" class="fa fa-home"> Slick Framework</a>
        <div role="search">
  <form id ="rtd-search-form" class="wy-form" action="../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>
      </div>

      <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
        
        
            <ul class="current">
<li class="toctree-l1 current"><a class="reference internal" href="index.html">Components</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="cache.html">Cache</a></li>
<li class="toctree-l2"><a class="reference internal" href="common.html">Common library</a></li>
<li class="toctree-l2"><a class="reference internal" href="database.html">Database Access</a></li>
<li class="toctree-l2"><a class="reference internal" href="dependency.html">Dependency Injection Container</a></li>
<li class="toctree-l2 current"><a class="current reference internal" href="">Template</a></li>
</ul>
</li>
</ul>

        
      </div>
      &nbsp;
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
        <a href="../index.html">Slick Framework</a>
      </nav>


      
      <div class="wy-nav-content">
        <div class="rst-content">
          <div role="navigation" aria-label="breadcrumbs navigation">
  <ul class="wy-breadcrumbs">
    <li><a href="../index.html">Docs</a> &raquo;</li>
      
          <li><a href="index.html">Components</a> &raquo;</li>
      
    <li>Template</li>
      <li class="wy-breadcrumbs-aside">
        
          <a href="../_sources/components/template.txt" rel="nofollow"> View page source</a>
        
      </li>
  </ul>
  <hr/>
</div>
          <div role="main">
            
  <div class="section" id="template">
<h1>Template<a class="headerlink" href="#template" title="Permalink to this headline">¶</a></h1>
<p>Template is a wrapper to the very powerful template engine for PHP
created by <a class="reference external" href="http://sensiolabs.com">Sensio Labs</a>,
the <a class="reference external" href="http://twig.sensiolabs.org/">Twig template engine</a>.</p>
<div class="section" id="using-a-template">
<h2>Using a template<a class="headerlink" href="#using-a-template" title="Permalink to this headline">¶</a></h2>
<p>It is very simple to create a template engine a use it.</p>
<p>Lets look to an example:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="o">&lt;?</span><span class="nx">php</span>

<span class="k">use</span> <span class="nx">Slick\Template</span><span class="p">;</span>

<span class="nx">Template</span><span class="o">::</span><span class="na">addPath</span><span class="p">(</span><span class="s2">&quot;./views&quot;</span><span class="p">);</span>

<span class="nv">$template</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Template</span><span class="p">();</span>
<span class="nv">$engine</span> <span class="o">=</span> <span class="nv">$template</span><span class="o">-&gt;</span><span class="na">initialize</span><span class="p">();</span>

<span class="k">print</span> <span class="nv">$engine</span><span class="o">-&gt;</span><span class="na">parse</span><span class="p">(</span><span class="s2">&quot;myView.twig&quot;</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">process</span><span class="p">([</span><span class="s1">&#39;var&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;foo&#39;</span><span class="p">]);</span>
</pre></div>
</div>
<p>In the code above we have set the path where our template files will live, initialize
an engine (if you do not set, the default is Twig) and print out the result of this
template processed with an array of dynamic data.</p>
<div class="section" id="setting-multiple-template-paths">
<h3>Setting multiple template paths<a class="headerlink" href="#setting-multiple-template-paths" title="Permalink to this headline">¶</a></h3>
<p>It is possible to set multiple paths where the template engine will look for when you
parse a provided template file.</p>
<p>The template engine maintains a priority list with all the</p>
</div>
</div>
</div>


          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
      
        <a href="dependency.html" class="btn btn-neutral" title="Dependency Injection Container"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2014-2015, Slick Framework.
    </p>
  </div>

  <a href="https://github.com/snide/sphinx_rtd_theme">Sphinx theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>
</footer>
        </div>
      </div>

    </section>

  </div>
  


  

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'../',
            VERSION:'1.1.0',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'.html',
            HAS_SOURCE:  true
        };
    </script>
      <script type="text/javascript" src="../_static/jquery.js"></script>
      <script type="text/javascript" src="../_static/underscore.js"></script>
      <script type="text/javascript" src="../_static/doctools.js"></script>

  

  
  
    <script type="text/javascript" src="../_static/js/theme.js"></script>
  

  
  
  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.StickyNav.enable();
      });
  </script>
   

</body>
</html>